body {
  background-color: black;
}

h1 {
  position: fixed; 
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p, h1{
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    line-length: 1.6;
}